#map {
  width: 100%;
  height: 100vh;
}
.reviews {
  max-height: 200px;
  overflow-y: scroll;
  max-width: 200px;
}
#add-btn {
  background-color: #ff8663;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
}
input {
  margin-bottom: 10px;
}
